@import url(https://fonts.googleapis.com/css?family=Raleway:400,100italic,100,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700italic,800,800italic,700,900,900italic);
/* Reset `button` and button-style `input` default styles */
/* line 28, ../sass/styles.scss */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  font-size: 14px;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 \9 ;
    /* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 \9 ;
    /* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 \9 ;
    /* IE9 only */
  }
  to {
    opacity: 1;
  }
}
/* line 83, ../sass/styles.scss */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-align: center;
  background: #a4b357;
  background: -moz-radial-gradient(center, ellipse cover, #a4b357 0%, #abb864 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #a4b357), color-stop(100%, #abb864));
  background: -webkit-radial-gradient(center, ellipse cover, #a4b357 0%, #abb864 100%);
  background: -o-radial-gradient(center, ellipse cover, #a4b357 0%, #abb864 100%);
  background: -ms-radial-gradient(center, ellipse cover, #a4b357 0%, #abb864 100%);
  background: radial-gradient(ellipse at center, #a4b357 0%, #abb864 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4b357', endColorstr='#abb864', GradientType=1);
}

/* line 98, ../sass/styles.scss */
.form {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #293333;
}

/* line 110, ../sass/styles.scss */
.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

/* line 118, ../sass/styles.scss */
.form input, textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  font-size: 16px;
  color: black;
  padding: 10px;
  -webkit-border-radius: 3px;
  height: 20px;
}

/* line 129, ../sass/styles.scss */
.form span {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 139, ../sass/styles.scss */
.form input:hover {
  cursor: pointer;
}

/* line 143, ../sass/styles.scss */
.lista {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  width: 95%;
  margin: auto;
  padding: 20px;
  min-height: 600px;
  background-color: rgba(59, 70, 70, 0.8);
}
/* line 155, ../sass/styles.scss */
.lista table {
  width: 90%;
  margin: 10px auto;
}
/* line 158, ../sass/styles.scss */
.lista table td {
  padding: 5px;
  background-color: #293333;
  color: white;
  text-align: left;
  font-weight: lighter;
}
/* line 166, ../sass/styles.scss */
.lista table th {
  padding: 5px;
  font-size: 16px;
  background-color: white;
  color: #293333;
  -webkit-border-radius: 2px;
}

/* line 179, ../sass/styles.scss */
.lista tbody tr {
  -webkit-transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
}
/* line 187, ../sass/styles.scss */
.lista table tbody tr:hover {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
}
/* line 192, ../sass/styles.scss */
.lista table tbody tr:hover td {
  background-color: #a4b357;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
}

/* line 205, ../sass/styles.scss */
.lista img {
  width: 60px !important;
  height: 30px !important;
}

/*
.lista label{
  text-align: left!important;
}
*/
/* line 218, ../sass/styles.scss */
.lista table tfoot tr td {
  padding: 0 !important;
}
/* line 220, ../sass/styles.scss */
.lista table tfoot tr td .table-td {
  display: flex;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
  background: #eeeeee;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #eeeeee 0%, #eeeeee 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%, #eeeeee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #eeeeee 0%, #eeeeee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  font-weight: bolder;
  color: black;
  padding: 0.5px;
  -webkit-border-radius: 2px;
}

/* line 240, ../sass/styles.scss */
.paginacion-paginas,
.paginacion-go-to {
  margin: 5px auto;
}

/* line 245, ../sass/styles.scss */
button {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: #293333;
  -webkit-border-radius: 3px;
}

/* line 268, ../sass/styles.scss */
.ac-error-message {
  padding: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: white;
  line-height: 26px;
  width: 700px;
  background-image: url("http://i.imgur.com/GnyDvKN.png");
  background-repeat: no-repeat;
  background: #ce0332;
  background: -moz-radial-gradient(center, ellipse cover, #ce0332 0%, rgba(171, 3, 42, 0.91) 44%, rgba(198, 6, 51, 0.8) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ce0332), color-stop(44%, rgba(171, 3, 42, 0.91)), color-stop(100%, rgba(198, 6, 51, 0.8)));
  background: -webkit-radial-gradient(center, ellipse cover, #ce0332 0%, rgba(171, 3, 42, 0.91) 44%, rgba(198, 6, 51, 0.8) 100%);
  background: -o-radial-gradient(center, ellipse cover, #ce0332 0%, rgba(171, 3, 42, 0.91) 44%, rgba(198, 6, 51, 0.8) 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ce0332 0%, rgba(171, 3, 42, 0.91) 44%, rgba(198, 6, 51, 0.8) 100%);
  background: radial-gradient(ellipse at center, #ce0332 0%, rgba(171, 3, 42, 0.91) 44%, rgba(198, 6, 51, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0332', endColorstr='#c60633', GradientType=1);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
}

/* line 293, ../sass/styles.scss */
.ac-success-message {
  padding: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: white;
  line-height: 26px;
  width: 700px;
  background-image: url("http://i.imgur.com/GnyDvKN.png");
  background-repeat: no-repeat;
  background: #a4b357;
  background: -moz-radial-gradient(center, ellipse cover, #a4b357 0%, rgba(171, 184, 100, 0.91) 44%, rgba(171, 184, 100, 0.8) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #a4b357), color-stop(44%, rgba(171, 184, 100, 0.91)), color-stop(100%, rgba(171, 184, 100, 0.8)));
  background: -webkit-radial-gradient(center, ellipse cover, #a4b357 0%, rgba(171, 184, 100, 0.91) 44%, rgba(171, 184, 100, 0.8) 100%);
  background: -o-radial-gradient(center, ellipse cover, #a4b357 0%, rgba(171, 184, 100, 0.91) 44%, rgba(171, 184, 100, 0.8) 100%);
  background: -ms-radial-gradient(center, ellipse cover, #a4b357 0%, rgba(171, 184, 100, 0.91) 44%, rgba(171, 184, 100, 0.8) 100%);
  background: radial-gradient(ellipse at center, #a4b357 0%, rgba(171, 184, 100, 0.91) 44%, rgba(171, 184, 100, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0332', endColorstr='#c60633', GradientType=1);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
}

/* line 318, ../sass/styles.scss */
.error-message {
  position: absolute;
  top: 16px !important;
  left: -1px !important;
  background-color: #a90329;
  color: white;
  width: 88%;
  margin-left: 26px;
  font-size: 14px;
  padding-top: 4px;
  padding-bottom: 1px;
  -webkit-border-radius: 2px;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* line 349, ../sass/styles.scss */
button:hover {
  cursor: pointer;
  background-color: #77b300;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#77b300), to(#446600));
  background-image: -webkit-linear-gradient(top, #77b300, #446600);
  background-image: -moz-linear-gradient(top, #77b300, #446600);
  background-image: -ms-linear-gradient(top, #77b300, #446600);
  background-image: -o-linear-gradient(top, #77b300, #446600);
  background-image: linear-gradient(to bottom, #77b300, #446600);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#77b300', end-colourStr='#446600');
  -webkit-transition: all 0.3s ease-in-out;
  color: white;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* line 359, ../sass/styles.scss */
ac-autocomplete input,
input[type="number"] {
  min-width: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding: 10px;
  margin: 10px auto;
  height: 18px;
  font-weight: bold;
  -webkit-border-radius: 2px;
  border: solid 1px black;
}

/* line 372, ../sass/styles.scss */
ac-autocomplete:focus {
  border: solid 1px #446600;
  color: red;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-animation: all ease-in .4;
  -moz-animation: all ease-in .4;
  animation: all ease-in .4;
}

/* line 385, ../sass/styles.scss */
ac-waiting #ac-waiting {
  position: fixed;
  background-color: rgba(59, 70, 70, 0.9);
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* line 395, ../sass/styles.scss */
ac-waiting #ac-waiting span {
  font-weight: bolder;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  text-shadow: 4px 4px #293333;
  -webkit-animation: pulse 1.5s infinite;
  -o-animation: pulse 1.5s infinite;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
}
/* line 427, ../sass/styles.scss */
#facebook {
  background-color: transparent;
  background-image: url(facebook.svg);
}

/* line 432, ../sass/styles.scss */
#google {
  background-color: transparent;
  background-image: url(gmail.svg);
}

/* line 437, ../sass/styles.scss */
input.buscador {
  width: 85%;
  height: 40px;
  margin: 30px auto;
  padding: 10px;
  -webkit-border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #293333;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
}

/* line 452, ../sass/styles.scss */
.form a {
  color: white;
}

/* line 457, ../sass/styles.scss */
.control {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

/* line 465, ../sass/styles.scss */
#gastosForm {
  text-align: -webkit-center;
  min-height: 700px;
  padding-top: 30px;
}
/* line 470, ../sass/styles.scss */
#gastosForm select, #gastosForm input, #gastosForm textarea {
  width: 200px;
}

/* line 476, ../sass/styles.scss */
.form-flex {
  padding-top: 30px;
}
/* line 479, ../sass/styles.scss */
.form-flex select, .form-flex input[type="number"] {
  width: 200px !important;
}

/* line 484, ../sass/styles.scss */
.details {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.4);
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  -webkit-transform: translate(1000px, 0);
  -moz-transform: translate(1000px, 0);
  -ms-transform: translate(1000px, 0);
  -o-transform: translate(1000px, 0);
  transform: translate(1000px, 0);
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

/* line 512, ../sass/styles.scss */
.details-open {
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

/* line 520, ../sass/styles.scss */
.detalle-container, .detalle-container2 {
  color: white;
  text-transform: uppercase;
  padding: 40px;
  margin: 10px;
  position: relative;
  background-color: #515C4B;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  max-height: 90%;
  overflow-y: auto;
  width: 85%;
  text-align: center;
}
/* line 535, ../sass/styles.scss */
.detalle-container input, .detalle-container textarea, .detalle-container2 input, .detalle-container2 textarea {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  font-size: 17px;
  font-weight: 600;
  color: black;
  margin-left: 25px;
  margin: 10px;
  background: #fff;
  border-radius: 5px;
}
/* line 554, ../sass/styles.scss */
.detalle-container .detalle-container2, .detalle-container2 .detalle-container2 {
  width: 93%;
}
/* line 559, ../sass/styles.scss */
.detalle-container select, .detalle-container2 select {
  padding: 10px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 566, ../sass/styles.scss */
.detalle-container span, .detalle-container2 span {
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 574, ../sass/styles.scss */
.detalle-container label, .detalle-container2 label {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 586, ../sass/styles.scss */
.barra-logueado {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

/* line 596, ../sass/styles.scss */
.login-iconos .input {
  position: relative;
}
/* line 599, ../sass/styles.scss */
.login-iconos .input::after {
  content: '';
  height: 30px;
  width: 30px;
  position: absolute;
  left: -18px;
  top: 53px;
}
/* line 608, ../sass/styles.scss */
.login-iconos .input:nth-child(1):after {
  background: url(mail.svg) center center no-repeat;
  background-size: contain;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
/* line 628, ../sass/styles.scss */
.login-iconos .input:nth-child(2):after {
  background: url(pass.svg) center center no-repeat;
  background-size: contain;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

/* line 650, ../sass/styles.scss */
select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: 16px;
  margin: 10px auto;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 38px;
  width: 100%;
}

/* line 672, ../sass/styles.scss */
.foto-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
}
@media (min-width: 400px) {
  /* line 672, ../sass/styles.scss */
  .foto-container {
    max-width: 400px;
    min-width: 400px;
  }
}
/* line 683, ../sass/styles.scss */
.foto-container .foto {
  position: relative;
}
/* line 686, ../sass/styles.scss */
.foto-container .foto .input-foto {
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
}
/* line 693, ../sass/styles.scss */
.foto-container .foto input {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
  top: 0;
  left: 0;
}

/* line 705, ../sass/styles.scss */
ac-autocomplete {
  position: relative;
}

/* line 709, ../sass/styles.scss */
ac-autocomplete > ul > li {
  padding: 5px;
  cursor: pointer;
}

/* line 718, ../sass/styles.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #536363;
}

/* line 725, ../sass/styles.scss */
.ac-autocomplete-panel {
  position: absolute;
  z-index: 1;
  background-color: #536363;
  margin-top: -10px;
  width: 90%;
  max-height: 220px;
  overflow-y: auto;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

/* line 741, ../sass/styles.scss */
.ac-autocomplete-selected {
  color: black;
  background: #a4b357;
  background: -moz-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #a4b357), color-stop(100%, #75890c));
  background: -webkit-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: -o-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: -ms-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: linear-gradient(to bottom, #a4b357 0%, #75890c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4b357', endColorstr='#75890c', GradientType=0);
}

/* line 753, ../sass/styles.scss */
#cobros {
  background-color: rgba(59, 70, 70, 0.8);
  margin: auto;
  -webkit-border-radius: 5px;
  padding: 20px;
  width: 95%;
}
/* line 761, ../sass/styles.scss */
#cobros table input {
  font-size: 16px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

/* line 772, ../sass/styles.scss */
#ac-usuarios-login {
  width: 300px !important;
}

/*
resumen-caja-diaria {
  position: absolute;
  top: 0;
  height: 555px;
  overflow-y: auto;
  width: 98%;
}
*/
/* line 785, ../sass/styles.scss */
.botonera {
  margin: auto;
}

/* line 789, ../sass/styles.scss */
ac-cobros > form > .botonera > button {
  position: absolute;
  bottom: 0;
  left: calc(100% - 55%);
}

/* line 795, ../sass/styles.scss */
resumen-caja-diaria > div > .input-container {
  margin: 10px auto !important;
}

/* line 799, ../sass/styles.scss */
resumen-caja-diaria {
  text-align: left !important;
}
/* line 801, ../sass/styles.scss */
resumen-caja-diaria table tr {
  color: #A2B154 !important;
  font-size: 14px !important;
  font-family: 'Raleway', sans-serif;
  margin-left: 0x !important;
}
/* line 808, ../sass/styles.scss */
resumen-caja-diaria label {
  margin: 10px;
  text-transform: uppercase;
  font-size: 20px;
  color: white !important;
}
/* line 815, ../sass/styles.scss */
resumen-caja-diaria select {
  width: 200px;
  margin-left: 38px !important;
}

/* line 821, ../sass/styles.scss */
.table-row-result {
  font-size: 1.2em;
  padding-bottom: 35px;
  border-top: 1px solid;
  font-weight: bold;
}

/* line 830, ../sass/styles.scss */
.table-row-caja {
  text-align: left;
  color: #fff;
}

/* line 835, ../sass/styles.scss */
.btn-img {
  cursor: pointer;
}

/*
ac-pedidos-detalles{
  position: absolute;
  top:0;
  width: 95%;
}
*/
/* line 848, ../sass/styles.scss */
ac-pedidos-detalles > div:nth-child(1),
ac-pedidos-detalles > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 855, ../sass/styles.scss */
ac-pedidos-detalles > form > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 861, ../sass/styles.scss */
ac-pedidos-detalles > div > div > h2 {
  font-size: 20px;
  margin: 10px;
  color: white;
  font-weight: light;
}

/* line 868, ../sass/styles.scss */
ac-pedidos-detalles > div > .input > label > h2 {
  font-size: 20px;
  color: white;
  margin: 10px;
}

@media (min-width: 800px) {
  /* line 875, ../sass/styles.scss */
  #nav-bar a {
    font-size: 16px;
  }
}
/* line 880, ../sass/styles.scss */
table > thead > tr {
  font-size: 1em;
}

/* line 884, ../sass/styles.scss */
ac-pedidos-detalles > table > thead > tr > th {
  padding: 5px 10px;
  font-size: 1em;
  background-color: white;
  color: #293333;
  -webkit-border-radius: 2px;
}

/* line 892, ../sass/styles.scss */
ac-pedidos-detalles > table > tbody > tr > td {
  padding: 0px 10px;
  font-size: 1em;
  background-color: #293333;
  color: white;
}

/* line 900, ../sass/styles.scss */
ac-pedidos-detalles > table > tbody > tr > td > input {
  margin-left: 0 !important;
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}

/* line 906, ../sass/styles.scss */
ac-pedidos-detalles > form > div > ac-autocomplete > input {
  min-width: 60%;
  height: 40px !important;
  margin-left: 0px !important;
}

/* line 912, ../sass/styles.scss */
ac-pedidos-detalles > div > div > span {
  color: black;
  font-size: 23px;
  font-weight: bold;
}

/* line 918, ../sass/styles.scss */
ac-pedidos-detalles > form > div > ac-autocomplete > .ac-autocomplete-panel {
  width: 62%;
  margin-left: 19%;
}

/* line 923, ../sass/styles.scss */
.ac-desarrollo {
  color: #293333;
  text-decoration: none;
}

/* line 928, ../sass/styles.scss */
.ac-desarrollo:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* line 933, ../sass/styles.scss */
.is-moved {
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  -o-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -ms-transition: transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
}

/* line 946, ../sass/styles.scss */
.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  z-index: 200;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 965, ../sass/styles.scss */
.is-body {
  margin-top: 41px;
}

/* line 968, ../sass/styles.scss */
#cantidad {
  text-align: right;
}

/* line 972, ../sass/styles.scss */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* line 982, ../sass/styles.scss */
#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* line 989, ../sass/styles.scss */
#main-resumen-caja, #main-a-reponer, #main-encomiendas, #main-pedidos {
  background: rgba(255, 255, 255, 0.4);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(246, 246, 246, 0.4) 47%, rgba(237, 237, 237, 0.4) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(47%, rgba(246, 246, 246, 0.4)), color-stop(100%, rgba(237, 237, 237, 0.4)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(246, 246, 246, 0.4) 47%, rgba(237, 237, 237, 0.4) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(246, 246, 246, 0.4) 47%, rgba(237, 237, 237, 0.4) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(246, 246, 246, 0.4) 47%, rgba(237, 237, 237, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(246, 246, 246, 0.4) 47%, rgba(237, 237, 237, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  min-width: 200px;
  height: 375px;
  margin: 5px;
  overflow: auto;
  text-align: left;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  overflow: auto;
}
/* line 1009, ../sass/styles.scss */
#main-resumen-caja h2, #main-a-reponer h2, #main-encomiendas h2, #main-pedidos h2 {
  font-weight: lighter !important;
}
/* line 1012, ../sass/styles.scss */
#main-resumen-caja span, #main-a-reponer span, #main-encomiendas span, #main-pedidos span {
  margin-left: 5px;
  font-weight: bolder;
  font-size: 25px;
}
/* line 1017, ../sass/styles.scss */
#main-resumen-caja table, #main-a-reponer table, #main-encomiendas table, #main-pedidos table {
  width: 100% !important;
}

/* line 1021, ../sass/styles.scss */
#main-resumen-caja {
  text-align: center;
}

/* line 1024, ../sass/styles.scss */
#main-resumen-caja h2 {
  background-color: #293333;
  font-size: 16.5px !important;
  padding: 5px;
}

/* line 1030, ../sass/styles.scss */
.dashboard-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 1035, ../sass/styles.scss */
.dashboard-titulo {
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  background-color: #293333;
  padding: 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 20px;
  font-size: 18px;
}
/* line 1048, ../sass/styles.scss */
.dashboard-titulo img {
  margin-left: 5px;
}

/* line 1053, ../sass/styles.scss */
.contenedor-barra-minimizar {
  right: 0px !important;
}

/* line 1060, ../sass/styles.scss */
#index-mensajes {
  z-index: 1000;
  position: fixed;
  height: 200px;
  width: 800px;
  left: calc(50% - 400px);
  top: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  -webkit-transform: translateY(-190px);
  -moz-transform: translateY(-190px);
  -ms-transform: translateY(-190px);
  -o-transform: translateY(-190px);
  transform: translateY(-190px);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  background-color: #293333;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: white;
}
/* line 1090, ../sass/styles.scss */
#index-mensajes div, #index-mensajes span {
  margin: 0 5px 0 5px;
  font-size: 1.1em;
}
/* line 1095, ../sass/styles.scss */
#index-mensajes span {
  width: 100%;
  text-align: left;
}
/* line 1100, ../sass/styles.scss */
#index-mensajes div {
  font-weight: bold;
}
/* line 1104, ../sass/styles.scss */
#index-mensajes h3 {
  width: 100%;
  background-color: white;
  color: black;
  margin: 0 0 5px 0;
}

/* line 1112, ../sass/styles.scss */
#index-mensajes:hover {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

/* line 1122, ../sass/styles.scss */
.avisos-exclamacion {
  position: absolute;
  bottom: -30px;
  left: -20px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}

/* line 1138, ../sass/styles.scss */
.nuevos-avisos {
  -webkit-animation: nuevos-avisos .4s ease-in-out;
  -o-animation: nuevos-avisos .4s ease-in-out;
  animation: nuevos-avisos .4s ease-in-out;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

@keyframes nuevos-avisos {
  0% {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/* line 1171, ../sass/styles.scss */
.colum-1, .colum-2, .colum-3, .colum-4 {
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  /* line 1171, ../sass/styles.scss */
  .colum-1, .colum-2, .colum-3, .colum-4 {
    width: 50%;
  }
}
@media (max-width: 400px) {
  /* line 1171, ../sass/styles.scss */
  .colum-1, .colum-2, .colum-3, .colum-4 {
    width: 100%;
  }
}

/* line 1181, ../sass/styles.scss */
.showDashboard {
  display: inline !important;
}

/* line 1185, ../sass/styles.scss */
#encomiendas-slider {
  height: 110px;
  background-color: transparent;
  overflow: hidden;
}

/* line 1191, ../sass/styles.scss */
#encomiendas-list {
  display: flex;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
  height: 5200px;
  max-height: 5200px;
}
/* line 1203, ../sass/styles.scss */
#encomiendas-list .encomienda {
  align-content: center;
  text-align: center;
}

/* line 1215, ../sass/styles.scss */
.encomienda.ng-enter,
.encomienda.ng-leave {
  -webkit-transition: 5s cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 5s cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 5s cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 5s cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 5s cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  display: block;
  /*
  img {
    -webkit-transition: 10s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 10s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 10s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 10s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 10s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;

  }
  */
}

/* line 1239, ../sass/styles.scss */
.encomienda.ng-enter.ng-enter-active,
.encomienda.ng-leave {
  opacity: 1;
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  height: 100px !important;
  margin: 10px !important;
}
/* line 1250, ../sass/styles.scss */
.encomienda.ng-enter.ng-enter-active img,
.encomienda.ng-leave img {
  width: 150px !important;
}

/* line 1255, ../sass/styles.scss */
.encomienda.ng-leave.ng-leave-active,
.encomienda.ng-enter {
  opacity: 0;
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
  height: 0px !important;
  margin: 10px 0px 10px 0px !important;
}
/* line 1266, ../sass/styles.scss */
.encomienda.ng-leave.ng-leave-active img,
.encomienda.ng-enter img {
  width: 0px !important;
}

/* line 1272, ../sass/styles.scss */
.encomienda-title {
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  background-color: #293333;
  padding: 10px 10px;
  height: 20px;
  font-size: 18px;
}

/* line 1282, ../sass/styles.scss */
.encomienda-body {
  background: rgba(255, 255, 255, 0.4);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(246, 246, 246, 0.4) 47%, rgba(237, 237, 237, 0.4) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(47%, rgba(246, 246, 246, 0.4)), color-stop(100%, rgba(237, 237, 237, 0.4)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(246, 246, 246, 0.4) 47%, rgba(237, 237, 237, 0.4) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(246, 246, 246, 0.4) 47%, rgba(237, 237, 237, 0.4) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(246, 246, 246, 0.4) 47%, rgba(237, 237, 237, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(246, 246, 246, 0.4) 47%, rgba(237, 237, 237, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  min-width: 200px;
  height: 375px;
  overflow: auto;
  text-align: left;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  overflow: auto;
}

/* line 1302, ../sass/styles.scss */
.row1 {
  display: flex;
  flex-direction: row;
}

/* line 1306, ../sass/styles.scss */
.row-title {
  width: 200px;
  padding: 5px;
  font-size: 16px;
  background-color: white;
  color: #293333;
  -webkit-border-radius: 2px;
}

/* line 1314, ../sass/styles.scss */
.row-body {
  width: 200px;
  padding: 5px;
  background-color: #293333;
  color: #fff;
  text-align: left;
  font-weight: lighter;
}
