@import url(https://fonts.googleapis.com/css?family=Raleway:400,100italic,100,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700italic,800,800italic,700,900,900italic);
/* Reset `button` and button-style `input` default styles */
/* line 30, ../sass/styles.scss */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 \9 ;
    /* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 \9 ;
    /* IE9 only */
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    opacity: 1 \9 ;
    /* IE9 only */
  }
  to {
    opacity: 1;
  }
}
/* line 84, ../sass/styles.scss */
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  text-align: center;
  background: #a4b357;
  background: -moz-radial-gradient(center, ellipse cover, #a4b357 0%, #abb864 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #a4b357), color-stop(100%, #abb864));
  background: -webkit-radial-gradient(center, ellipse cover, #a4b357 0%, #abb864 100%);
  background: -o-radial-gradient(center, ellipse cover, #a4b357 0%, #abb864 100%);
  background: -ms-radial-gradient(center, ellipse cover, #a4b357 0%, #abb864 100%);
  background: radial-gradient(ellipse at center, #a4b357 0%, #abb864 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#abb864', GradientType=1 );
}

/* line 99, ../sass/styles.scss */
.form {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #293333;
}

/* line 111, ../sass/styles.scss */
.input {
  display: flex;
  flex-direction: column-reverse;
}

/* line 120, ../sass/styles.scss */
.lista {
  font-family: 'Raleway', sans-serif;
  color: white;
  width: 100%;
  background-color: rgba(59, 70, 70, 0.8);
}
/* line 126, ../sass/styles.scss */
.lista table {
  width: 90%;
  margin: 10px auto;
}
/* line 129, ../sass/styles.scss */
.lista table td {
  padding: 10px;
  background-color: #293333;
  color: white;
  text-align: left;
}
/* line 136, ../sass/styles.scss */
.lista table th {
  padding: 10px;
  font-size: 18px;
  background-color: white;
  color: #293333;
  -webkit-border-radius: 2px;
}

/* line 149, ../sass/styles.scss */
.lista tbody tr {
  -webkit-transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
}
/* line 157, ../sass/styles.scss */
.lista table tbody tr:hover {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
}
/* line 162, ../sass/styles.scss */
.lista table tbody tr:hover td {
  background-color: white;
  font-weight: bold;
  color: #293333;
  -webkit-transition: all 0.3s ease-in-out;
}

/* line 176, ../sass/styles.scss */
.lista img {
  width: 50px !important;
  height: 50px !important;
}

/* line 185, ../sass/styles.scss */
.lista table tfoot tr td {
  padding: 0 !important;
}
/* line 187, ../sass/styles.scss */
.lista table tfoot tr td .table-td {
  display: flex;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,eeeeee+100;Grey+Flat */
  background: #eeeeee;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #eeeeee 0%, #eeeeee 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #eeeeee 0%, #eeeeee 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #eeeeee 0%, #eeeeee 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#eeeeee', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  font-weight: bolder;
  color: black;
  padding: 0.5px;
  -webkit-border-radius: 2px;
}

/* line 207, ../sass/styles.scss */
.paginacion-paginas,
.paginacion-go-to {
  margin: 20px auto;
}

/* line 212, ../sass/styles.scss */
button {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: #293333;
  -webkit-border-radius: 3px;
}

/* line 238, ../sass/styles.scss */
.ac-error-message {
  padding: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: white;
  line-height: 26px;
  width: 700px;
  background-image: url("http://i.imgur.com/GnyDvKN.png");
  background-repeat: no-repeat;
  background: #ce0332;
  background: -moz-radial-gradient(center, ellipse cover, #ce0332 0%, rgba(171, 3, 42, 0.91) 44%, rgba(198, 6, 51, 0.8) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ce0332), color-stop(44%, rgba(171, 3, 42, 0.91)), color-stop(100%, rgba(198, 6, 51, 0.8)));
  background: -webkit-radial-gradient(center, ellipse cover, #ce0332 0%, rgba(171, 3, 42, 0.91) 44%, rgba(198, 6, 51, 0.8) 100%);
  background: -o-radial-gradient(center, ellipse cover, #ce0332 0%, rgba(171, 3, 42, 0.91) 44%, rgba(198, 6, 51, 0.8) 100%);
  background: -ms-radial-gradient(center, ellipse cover, #ce0332 0%, rgba(171, 3, 42, 0.91) 44%, rgba(198, 6, 51, 0.8) 100%);
  background: radial-gradient(ellipse at center, #ce0332 0%, rgba(171, 3, 42, 0.91) 44%, rgba(198, 6, 51, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0332', endColorstr='#c60633', GradientType=1);
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
}

/* line 263, ../sass/styles.scss */
.error-message {
  position: absolute;
  top: 16px !important;
  left: 0px !important;
  background-color: #a90329;
  color: white;
  width: 266px;
  margin-left: 26px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-border-radius: 2px;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

/* line 294, ../sass/styles.scss */
button:hover {
  cursor: pointer;
  background-color: #77b300;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#77b300), to(#446600));
  background-image: -webkit-linear-gradient(top, #77b300, #446600);
  background-image: -moz-linear-gradient(top, #77b300, #446600);
  background-image: -ms-linear-gradient(top, #77b300, #446600);
  background-image: -o-linear-gradient(top, #77b300, #446600);
  background-image: linear-gradient(to bottom, #77b300, #446600);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#77b300', end-colourStr='#446600');
  -webkit-transition: all 0.3s ease-in-out;
  color: white;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
}

/* line 304, ../sass/styles.scss */
ac-autocomplete input,
input[type="number"] {
  min-width: 50%;
  margin: 10px auto;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  padding: 5px;
  font-weight: bold;
  -webkit-border-radius: 2px;
  border: solid 1px black;
}

/* line 316, ../sass/styles.scss */
ac-autocomplete:focus {
  border: solid 1px #446600;
  color: #446600;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-animation: all ease-in .4;
  -moz-animation: all ease-in .4;
  animation: all ease-in .4;
}

/* line 328, ../sass/styles.scss */
ac-autocomplete input ul li {
  background-color: #446600;
  color: white;
  width: 300px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

/* line 336, ../sass/styles.scss */
ac-waiting {
  font-weight: bolder;
  margin: 10px auto;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

/* line 344, ../sass/styles.scss */
#facebook {
  background-color: transparent;
  background-image: url(facebook.svg);
}

/* line 349, ../sass/styles.scss */
#google {
  background-color: transparent;
  background-image: url(gmail.svg);
}

/* line 354, ../sass/styles.scss */
input.buscador {
  width: 89%;
  height: 40px;
  margin: 30px auto;
  padding: 5px;
  -webkit-border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: bolder;
  color: #293333;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
}

/* line 369, ../sass/styles.scss */
.form span {
  color: white;
}

/* line 374, ../sass/styles.scss */
.form a {
  color: white;
}

/* line 379, ../sass/styles.scss */
.control {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

/* line 388, ../sass/styles.scss */
.details {
  padding: 10px;
  padding-top: 30px !important;
  background: #a4b357;
  background: -moz-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #a4b357), color-stop(100%, #75890c));
  background: -webkit-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: -o-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: -ms-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: linear-gradient(to bottom, #a4b357 0%, #75890c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=0 );
  width: 40%;
  position: absolute;
  border: solid 2px white;
  right: 0;
  top: 0;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  -webkit-transform: translate(1000px, 0);
  -moz-transform: translate(1000px, 0);
  -ms-transform: translate(1000px, 0);
  -o-transform: translate(1000px, 0);
  transform: translate(1000px, 0);
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

/* line 419, ../sass/styles.scss */
.details-open {
  -webkit-transform: translate(0, 0) !important;
  -moz-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  -o-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

/* line 427, ../sass/styles.scss */
.detalle-container, .detalle-container2 {
  color: white;
  padding: 20px;
  margin: 10px auto;
  position: relative;
  background-color: #536363 !important;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.45);
  max-height: 100%;
  overflow-y: auto;
  width: 85%;
}
/* line 441, ../sass/styles.scss */
.detalle-container input, .detalle-container textarea, .detalle-container2 input, .detalle-container2 textarea {
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  width: 93%;
  font-size: 14px;
  font-weight: bold;
  color: black;
  margin-left: 25px;
  margin: 10px;
  background: #fff;
  border-radius: 5px;
}
/* line 461, ../sass/styles.scss */
.detalle-container .detalle-container2, .detalle-container2 .detalle-container2 {
  width: 93%;
}
/* line 468, ../sass/styles.scss */
.detalle-container select, .detalle-container2 select {
  padding: 10px;
  font-size: 14px;
  margin: 10px;
}
/* line 474, ../sass/styles.scss */
.detalle-container span, .detalle-container2 span {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* line 485, ../sass/styles.scss */
.login-iconos .input {
  position: relative;
}
/* line 488, ../sass/styles.scss */
.login-iconos .input::after {
  content: '';
  height: 40px;
  width: 40px;
  position: absolute;
  left: -21px;
  top: 41px;
}
/* line 497, ../sass/styles.scss */
.login-iconos .input:nth-child(1):after {
  background: url(mail.svg) center center no-repeat;
  background-size: contain;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
/* line 517, ../sass/styles.scss */
.login-iconos .input:nth-child(2):after {
  background: url(pass.svg) center center no-repeat;
  background-size: contain;
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

/* line 539, ../sass/styles.scss */
select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: 16px;
  margin: auto;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 97%;
}

/* line 561, ../sass/styles.scss */
.foto-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 100%;
}
@media (min-width: 400px) {
  /* line 561, ../sass/styles.scss */
  .foto-container {
    max-width: 400px;
    min-width: 400px;
  }
}
/* line 572, ../sass/styles.scss */
.foto-container .foto {
  position: relative;
}
/* line 575, ../sass/styles.scss */
.foto-container .foto .input-foto {
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
}
/* line 582, ../sass/styles.scss */
.foto-container .foto input {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
  top: 0;
  left: 0;
}

/* line 593, ../sass/styles.scss */
ac-autocomplete {
  position: relative;
}

/* line 596, ../sass/styles.scss */
ac-autocomplete > ul > li {
  padding: 5px;
  cursor: pointer;
}

/* line 600, ../sass/styles.scss */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 605, ../sass/styles.scss */
.ac-autocomplete-panel {
  position: absolute;
  z-index: 1;
  background-color: #eee;
  margin-top: -10px;
  width: 100%;
  max-height: 220px;
  overflow-y: auto;
  color: #000;
}

/* line 617, ../sass/styles.scss */
.ac-autocomplete-selected {
  background-color: #77b300;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#77b300), to(#446600));
  background-image: -webkit-linear-gradient(top, #77b300, #446600);
  background-image: -moz-linear-gradient(top, #77b300, #446600);
  background-image: -ms-linear-gradient(top, #77b300, #446600);
  background-image: -o-linear-gradient(top, #77b300, #446600);
  background-image: linear-gradient(to bottom, #77b300, #446600);
  filter: progid:DXImageTransform.Microsoft.gradient(start-colourStr='#77b300', end-colourStr='#446600');
}

/* line 622, ../sass/styles.scss */
#cobros {
  background-color: rgba(59, 70, 70, 0.8);
  margin: auto;
  -webkit-border-radius: 5px;
  padding: 20px;
}
/* line 629, ../sass/styles.scss */
#cobros table input {
  font-size: 16px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

/* line 641, ../sass/styles.scss */
#ac-usuarios-login {
  width: 300px !important;
}
