<div ng-controller="MainController as mainCtrl" id="main" class="lista">
    <div class="dashboard-container">
        <div class="colum-1">
            <div class="dashboard-titulo">
                <label style="float: left">Resumen de Caja</label>
                <div class="contenedor-barra-minimizar">
                    <img src="images/add.png" style="width: 16px!important; height: 16px!important;">
                    <img src="images/remove.png" style="width: 16px!important; height: 16px!important;">
                </div>
            </div>
            <div id="main-resumen-caja">
                <h2>Saldo inicial</h2>
                <span>{{mainCtrl.saldoInicial}}</span>
                <h2>Ahorro</h2>
                <span>{{mainCtrl.ahorro}}</span>
                <h2>Total</h2>
                <span>{{mainCtrl.saldoFinal}}</span>
                <h2></h2>
                <button>Detalle</button>
            </div>
        </div>

        <div class="colum-2">
            <div class="dashboard-titulo">
                <label>Productos a Reponer</label>
                <div class="contenedor-barra-minimizar">
                <img src="images/add.png" style="width: 16px!important; height: 16px!important;">
                <img src="images/remove.png" style="width: 16px!important; height: 16px!important;">
                </div>
            </div>
            <div id="main-a-reponer">
                <table>
                    <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Cantidad Actual</td>
                        <td>Punto de Reposición</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in mainCtrl.reponer">
                        <td title="{{row.nombre}}">{{row.nombre.length > 20 ? row.nombre.substring(0,20) + "..." : row.nombre}}</td>
                        <td>{{row.cant_actual}}</td>
                        <td>{{row.pto_repo}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="colum-3">
            <div class="dashboard-titulo">
                <label>Encomiendas Pendientes</label>
                <div class="contenedor-barra-minimizar">
                    <img src="images/add.png" style="width: 16px!important; height: 16px!important;">
                    <img src="images/remove.png" style="width: 16px!important; height: 16px!important;">
                </div>
            </div>
            <div id="main-encomiendas">
                <table>
                    <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Fecha Entrega</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in mainCtrl.encomiendas">
                        <td title="{{row.cliente}}">{{row.cliente.length > 20 ? row.cliente.substring(0,20) + "..." : row.cliente}}</td>
                        <td>{{ row.fecha_entrega }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="colum-4">
            <div class="dashboard-titulo">
                <label>Pedidos Pendientes</label>
                <div class="contenedor-barra-minimizar">
                    <img src="images/add.png" style="width: 16px!important; height: 16px!important;">
                    <img src="images/remove.png" style="width: 16px!important; height: 16px!important;">
                </div>
            </div>
            <div id="main-pedidos">
                <table>
                    <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Fecha</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in mainCtrl.pedidos">
                        <td title="{{row.proveedor_nombre}}">{{row.proveedor_nombre.length > 20 ? row.proveedor_nombre.substring(0,20) + "..." : row.proveedor_nombre}}</td>
                        <td>{{ row.fecha_pedido }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
